[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
cachetools = "*"
pre-commit = "*"
pylint = "*"
numpy = "*"
toml = "*"

[dev-packages]
black = "*"
